@import url('./assets/slider.css');
@import url('./assets/leaflet.css');
@import url('./assets/charts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body, * {
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    h6 {
        color: rgba(255,255,255,0.70);
        font-size: 0.80rem;
    }
    h4 {
        color: rgba(255,255,255);
        font-size: 1rem;
    }
    h1 {
        color: rgba(255,255,255,0.70);
        font-size: 9rem; 
    }
    h3 {
        color: rgba(255,255,255,0.70);
        font-size: 5rem;  
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}