@import url('./assets/slider.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body, * {
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
}

.leaflet-control-zoom-in span{
    color: black;
}

.leaflet-control-zoom-out span{
    color: black;
}
